.mainText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
}
.menuHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	background-color: #000066;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.menuItem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #C0CCE2;
	color: #000000;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.menuBorder {
	border: 2px inset #666666;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14pt;
}
hr {
	background-color: #000066;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	padding-left: 10px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-left: 20px;
}
.code {

	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
}
